<div class="mb-2 ">
    <span class="roboto-medium">Intervention(s)</span>
    <div class="bg-white px-2 py-3 mt-1 rounded-2 " >
        <nav class="d-flex justify-content-center">
            <ul class="list-unstyled d-flex">
                <li class="text-decoration-none fw-semibold p-2 border-bottom mx-3 border-success" id="btn-toutes">Toutes</li>
                <li class="text-decoration-none fw-semibold p-2 border-bottom mx-3" id="btn-encours">En cours</li>
                <li class="text-decoration-none fw-semibold p-2 border-bottom mx-3" id="btn-terminee">Terminée</li>
            </ul>
        </nav>
    
        <!-- Début Block avec scroll -->
        <div class="overflow-auto" style="max-height: 40vh";>
            <div id="interventions">
            {% if interventions|length < 1 %} 
                <div class="lign_inter border border-solid rounded-2 p-2 border-warning my-2">
                    <div class="d-flex justify-content-center border-bottom py-1 ">
                        <span>Aucune intervention enregistrée</span>
                    </div>
                </div>
            {% else %}
            <table id="interventionTable" class="display">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Statut</th>
                        <th>Description</th>
                        <th>Ville</th>
                        <th>Liste tâches</th>

                    </tr>
                </thead>
                <tbody>
                    {% for intervention in interventions %}

                       <!-- Si le champ prénom n'est pas renseigné -->
                        {% set nom = intervention.idClient.nom %} 
                        {% if intervention.idClient.nom == null or intervention.idClient.nom == "Null" or intervention.idClient.nom == "null"%}
                            {% set nom = "Non renseigné" %}
                        {% endif %}

                        <!-- Si le champ prénom n'est pas renseigné -->
                        {% set prenom = intervention.idClient.prenom %} 
                        {% if intervention.idClient.prenom == null or intervention.idClient.prenom == "Null" or intervention.idClient.prenom == "null"%}
                            {% set prenom = "Non renseigné" %}
                        {% endif %}
                
                    <tr data-url="{{ path('app_intervention', {'show': 'photos', 'idInter': intervention.id }) }}">
                        <td>{{ nom }}</td>
                        <td>{{ prenom }}</td>
                        <td>{{ intervention.statut }}</td>
                        <td>{{ intervention.description }}</td>
                        <td>{{ intervention.villeInter }}</td>
                        <td></td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            </div>
            <div id="interventionTerminee" class="d-none">
                {% if interventions|length < 1 %} 
                    <div class="lign_inter border border-solid rounded-2 p-2 border-warning my-2">
                        <div class="d-flex justify-content-center border-bottom py-1 ">
                            <span>Aucune intervention enregistrée</span>
                        </div>
                    </div>
                {% else %}
                <table id="interventionTableTerminee" class="display">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Statut</th>
                            <th>Description</th>
                            <th>Ville</th>
                            <th>Liste tâches</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for intervention in interventionsTerminees %}
    
                           <!-- Si le champ prénom n'est pas renseigné -->
                            {% set nom = intervention.idClient.nom %} 
                            {% if intervention.idClient.nom == null or intervention.idClient.nom == "Null" or intervention.idClient.nom == "null"%}
                                {% set nom = "Non renseigné" %}
                            {% endif %}
    
                            <!-- Si le champ prénom n'est pas renseigné -->
                            {% set prenom = intervention.idClient.prenom %} 
                            {% if intervention.idClient.prenom == null or intervention.idClient.prenom == "Null" or intervention.idClient.prenom == "null"%}
                                {% set prenom = "Non renseigné" %}
                            {% endif %}
                    
                        <tr data-url="{{ path('app_intervention', {'show': 'photos', 'idInter': intervention.id }) }}">
                            <td>{{ nom }}</td>
                            <td>{{ prenom }}</td>
                            <td>{{ intervention.statut }}</td>
                            <td>{{ intervention.description }}</td>
                            <td>{{ intervention.villeInter }}</td>
                            <td></td>
                        </tr>  
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
                <div id="interventionEnCours" class="d-none">
                    {% if interventionsEnCours|length < 1 %} 
                        <div class="lign_inter border border-solid rounded-2 p-2 border-warning my-2">
                            <div class="d-flex justify-content-center border-bottom py-1 ">
                                <span>Aucune intervention enregistrée</span>
                            </div>
                        </div>
                    {% else %}
                    <table id="interventionTableEnCours" class="display">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Statut</th>
                                <th>Description</th>
                                <th>Ville</th>
                                <th>Liste tâches</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventionsEnCours %}
        
                               <!-- Si le champ prénom n'est pas renseigné -->
                                {% set nom = intervention.idClient.nom %} 
                                {% if intervention.idClient.nom == null or intervention.idClient.nom == "Null" or intervention.idClient.nom == "null"%}
                                    {% set nom = "Non renseigné" %}
                                {% endif %}
        
                                <!-- Si le champ prénom n'est pas renseigné -->
                                {% set prenom = intervention.idClient.prenom %} 
                                {% if intervention.idClient.prenom == null or intervention.idClient.prenom == "Null" or intervention.idClient.prenom == "null"%}
                                    {% set prenom = "Non renseigné" %}
                                {% endif %}
                        
                            <tr data-url="{{ path('app_intervention', {'show': 'photos', 'idInter': intervention.id }) }}">
                                <td>{{ nom }}</td>
                                <td>{{ prenom }}</td>
                                <td>{{ intervention.statut }}</td>
                                <td>{{ intervention.description }}</td>
                                <td>{{ intervention.villeInter }}</td>
                                <td></td>
                            </tr>  
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    </div>
        </div>
         <!-- Fin Block avec scroll -->
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/client.js') }}"></script>
{% endblock %}