<div class="mb-2 ">
    <span>Mes interventions</span>
    <!-- Début Recherche filtre version desktop / tablet -->
    <!-- Fin Recherche filtre version desktop / tablet -->
    <div class="bg-white py-3 mt-1 rounded-2 " >
            <nav class="d-flex justify-content-center">
                <!-- début block nav -->
                <ul class="list-unstyled d-flex">
                    <li><a href="{{ path('interList' , {'list' : 'Encours'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-encours">En cours</a></li>
                    <li><a href="{{ path('interList' , {'list' : 'Avenir'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-avenir">A venir</a></li>
                    <li><a href="{{ path('interList' , {'list' : 'Terminee'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-terminee">Terminée</a></li>
                    <li><a href="{{ path('interList' , {'list' : 'Toutes'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-tous">Tous</a></li>
                </ul>
                <!-- Fin block nav -->
            </nav>  
            
         <!-- Début Block avec scroll -->
         <div class="overflow-auto" style="max-height: 40vh";>
            <!-- Début de ma ligne -->
            {% if interventions|length < 1 %} 
                <div class="lign_inter border border-solid rounded-2 p-2 border-warning my-2">
                    <div class="d-flex justify-content-center border-bottom py-1 ">
                        <span>Aucune intervention enregistrée</span>
                    </div>
                </div>
            {% else %}
                {% for intervention in interventions %}
                    <a href="{{ path('app_intervention', {'show': 'photos', 'idInter': intervention.id }) }}" class="text-decoration-none text-black ">
                        {% set nombreTache = 0 %}
                            {% for categorieTache in categorieTaches  %}
                                {% if categorieTache.idInter == intervention %}
                                    {% set nombreTache = nombreTache +1 %}
                                    {% endif %}
                            {% endfor %}
                            {% if nombreTache > 0 %}
                                {% set border = 'border-warning' %}
                            {% else %}
                                {% set border = '' %}
                            {% endif %}
                        <div class="lign_inter border border-solid rounded-2 p-2 mx-2 {{ border }} my-3 position-relative ">
                            {% if nombreTache != 0%}
                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-warning p-2">
                                {{ nombreTache }}<span class="ms-1">Listes de tâches</span>
                                <span class="visually-hidden">unread messages</span>
                            </span>
                            {% endif %}
                            <div class="d-flex justify-content-between  border-bottom py-1 ">
                                <span>{{ intervention.idClient.nom }}</span>
                                <span>{{ intervention.idClient.prenom }}</span>
                                <span>{{ intervention.dateDebut|date('Y-m-d') }}</span>
                                <span>{{ intervention.dateFin|date('Y-m-d') }}</span>
                            </div>
                            <div class="d-flex justify-content-between py-1">
                                <span class="text-center" >{{ intervention.description }}</span>
                                <span class="text-center" >{{ intervention.villeInter }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
            <!-- Fin de ma ligne-->
        </div>
         <!-- Fin Block avec scroll -->
    </div>
</div>