<div class="mb-2 ">
    <!-- Début Recherche filtre version desktop / tablet -->
    <!-- Fin Recherche filtre version desktop / tablet -->
    <div class="bg-white py-3 mt-1 rounded-2 " >
            <nav class="d-flex justify-content-center">
                <!-- début block nav -->
                <ul class="list-unstyled d-flex">
                    <li><a href="{{ path('interList' , {'list' : 'Encours'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-encours">En cours</a></li>
                    <li><a href="{{ path('interList' , {'list' : 'Avenir'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-avenir">A venir</a></li>
                    <li><a href="{{ path('interList' , {'list' : 'Terminee'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-terminee">Terminée</a></li>
                    <li><a href="{{ path('interList' , {'list' : 'Toutes'} )}}" class="text-decoration-none fw-semibold p-2 nav-liens rounded-pill" id="btn-tous">Tous</a></li>
                </ul>
                <!-- Fin block nav -->
            </nav>  
            
         <!-- Début Block avec scroll -->
         <div class="overflow-auto px-3" style="max-height: 80vh";>
            <!-- Début de ma ligne -->
            {# <a href="{{ path('app_intervention', {'show': 'photos', 'idInter': intervention.id }) }}" class="text-decoration-none text-black ">  #}
            
            <table id="interventionTable" class="display">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Début </th>
                        <th>Fin </th>
                        <th>Description</th>
                        <th>Ville </th>
                    </tr>
                </thead>
                <tbody>
                    {% for intervention in interventions %}

                       <!-- Si le champ prénom n'est pas renseigné -->
                        {% set nom = intervention.idClient.nom %} 
                        {% if intervention.idClient.nom == null or intervention.idClient.nom == "Null" or intervention.idClient.nom == "null"%}
                            {% set nom = "Non renseigné" %}
                        {% endif %}

                        <!-- Si le champ prénom n'est pas renseigné -->
                        {% set prenom = intervention.idClient.prenom %} 
                        {% if intervention.idClient.prenom == null or intervention.idClient.prenom == "Null" or intervention.idClient.prenom == "null"%}
                            {% set prenom = "Non renseigné" %}
                        {% endif %}
                
                    <tr data-url="{{ path('app_intervention', {'show': 'photos', 'idInter': intervention.id }) }}">
                        <td>{{ nom }}</td>
                        <td>{{ prenom }}</td>
                        <td>{{ intervention.dateDebut|date('Y-m-d') }}</td>
                        <td>{{ intervention.dateFin|date('Y-m-d') }}</td>
                        <td>{{ intervention.description }}</td>
                        <td>{{ intervention.villeInter }}</td>
                    </tr>
                     
                    {% endfor %}
                </tbody>
            </table>
            <!-- Fin de ma ligne-->
        </div>
         <!-- Fin Block avec scroll -->
    </div>
</div>