<div class="bg-white rounded-2 px-2 py-3 mt-1 overflow-auto ">
    <div class="overflow-auto" style="max-height: 85vh">
        <!-- Mon tableau -->
        <table id="clientTable" class="display">
            <thead>
                <tr>
                    <th>Entreprise</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville</th>
                    <th>Mail</th>
                </tr>
            </thead>
            <tbody>
                {% for client in Clients %} 

                    <!-- Si le champ prénom n'est pas renseigné -->
                    {% set nom = client.nom %} 
                    {% if client.nom == null or client.nom == "Null" or client.nom == "null"%}
                        {% set nom = "Non renseigné" %}
                    {% endif %}

                    <!-- Si le champ prénom n'est pas renseigné -->
                    {% set prenom = client.prenom %} 
                    {% if client.prenom == null or client.prenom == "Null" or client.prenom == "null"%}
                        {% set prenom = "Non renseigné" %}
                    {% endif %}

                    <!-- Si le champ prénom n'est pas renseigné -->
                    {% set entreprise = client.ent %} 
                    {% if client.ent == null or client.ent == "Null" or client.ent == "null"%}
                        {% set entreprise = "" %}
                    {% endif %}

                    <tr data-url="{{ path('app_client', {'id': client.id }) }}">
                        <td>{{ entreprise }}</td>
                        <td>{{ nom }}</td>
                        <td>{{ prenom }}</td> 
                        <td>{{ client.villeClient }}</td>
                        <td>{{ client.mail }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>