  <!-- Début Nav -->
  <div class="d-flex start-end">
    <div class="col-3"></div>
    <nav class="d-flex justify-content-center col-6">
      <ul class="list-unstyled d-flex">
          <li><a href="{{ path('app_intervention', {'show':'photos','idInter': intervention.id})}}" class="text-black text-decoration-none fw-semibold p-2 nav-liens rounded-pill">Photos</a></li>
          <li><a href="{{ path('app_intervention', {'show':'taches','idInter': intervention.id})}}" class="text-white text-decoration-none fw-semibold p-2 nav-liens rounded-pill">Tâches</a></li>
      </ul>
    </nav>
    <div class="col-3 text-center">
      <i class="fa-solid fa-camera" id="showAddPhoto"></i>
    </div>
  </div>
  <!-- Fin Nav -->
  <div class="text-center bg-white rounded-3 py-3 mb-3 d-none" id="sectionAddPhoto">
    <div class="d-flex justify-content-end px-3">
      <i class="fa-solid fa-xmark" id="closeAddPhoto"></i> 
    </div>
    <div id="sectionAddPhoto">
      <span class="fs-5 i_inter roboto-medium">Ajouter une photo</span>
      {{ form_start(uploadPhotoForm) }}
      <div class="mt-3" >{{ form_row(uploadPhotoForm.imageFile) }}</div>
      <div class="mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
      {{ form_end(uploadPhotoForm) }}
    </div>
  </div>

  <!-- Début Photos -->
  {% if (photoInter|length > 0) %}
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        {% for key, photo in photoInter|slice(0, 1) %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">
            <a href="{{ vich_uploader_asset(photo, 'imageFile') }}"><img src="{{ vich_uploader_asset(photo, 'imageFile') }}" class="d-block w-50 mx-auto rounded-2" target="_blank" class="text-decoration-none" alt="..."></a>
          </div>
        {% endfor %}
        {% for photo in photoInter|slice(1) %}
          <div class="carousel-item">
            <a href="{{ vich_uploader_asset(photo, 'imageFile') }}"><img src="{{ vich_uploader_asset(photo, 'imageFile') }}" class="d-block w-50 mx-auto rounded-2" target="_blank" class="text-decoration-none" alt="..."></a>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
      </button>
    </div>
  {% else %}
    <div class="text-center text-white bg-primary rounded-3 py-5">
      Aucune photo pour cette intervention
    </div>
  {% endif %}

  <!-- Fin Photos  -->