  <!-- Début Nav -->
  <div class="d-flex start-end">
    <div class="col-3"></div>
    <nav class="d-flex justify-content-center col-6">
      <ul class="list-unstyled d-flex">
          <li><a href="{{ path('app_intervention', {'show':'photos','idInter': intervention.id })}}" class="text-black text-decoration-none fw-semibold p-2 nav-liens rounded-pill">Photos</a></li>
          <li><a href="{{ path('app_intervention', {'show':'taches','idInter': intervention.id })}}" class="text-white text-decoration-none fw-semibold p-2 nav-liens rounded-pill">Tâches</a></li>
      </ul>
    </nav>
  </div>
  <!-- Fin Nav -->

  <!-- Début Taches -->
  <div class="grap d-flex  overflow-auto">
    <!-- Début section catégories existante-->
    {% for categorieTache in categorieTaches %}
    <div class="p-2 text-center col-11 col-md-4 mx-3">
      <span class="roboto-medium">{{ categorieTache.nomCat }} </span> 
      <div class="bg-white rounded-2 mt-1 p-3" style="height:490px">
        <!-- Début suppression d'une tache -->
         {% for tache in taches %}
          {% if (tache.idCat == categorieTache) %}
        <div class="text-center my-2 py-2 taches rounded-2">
          <span class="kalam-regular">{{ tache.description}}</span>
          <a href="{{path('supprimer_tache', {'idInter': intervention.id, 'idTache': tache.id})}}"><i class="fa-solid fa-trash"></i></a>
        </div>
        {% endif %}
        {% endfor %} 
        <!-- Fin suppression d'une tache -->

        <!-- Début section ajout d'une tâche -->
       
        <!-- Début Section formulaire caché -->
        {% for key, tacheForm in tacheForms %}
          {% if (key == categorieTache.nomCat) %}
          <!-- ici j'aimerai controler si c'est bien un formulaire unique qui est créer et pas le même a chaque boucle -->
           <div class="text-center my-2 py-2 taches rounded-2">
              {{ form_start(tacheForm) }}
              {{ form_row(tacheForm.description) }}
              {{ form_row(tacheForm.idCat) }}
              <button type="submit" class="btn btn-primary ">Créer</button>
              {{ form_end(tacheForm) }}
           </div>
        
           {% endif %}
           {% endfor %}
           <div class="text-center my-2 py-2 taches rounded-2">
             <i class="fa-solid fa-plus"></i>
           </div>

       
        <!-- Fin Section formulaire caché -->
        
        <!-- Fin section ajout d'une tâche -->

      </div>
    </div>
    {% endfor %}
    <!-- Fin section catégories existante-->

    <!-- Début formulaire ajout catégorie-->
    <div class="p-2 text-center col-11 col-md-4 mx-3">
      {{ form_start(ajoutCategorieForm) }}
      <span class="roboto-medium">Nouvelle catégorie</span>
      <div class="bg-white bg-opacity-50 border border-2 border-white rounded-2 d-flex align-items-center justify-content-center mt-1" style="height:490px">
        <div class="d-flex flex-column text-center py-2 ">
          {{ form_row(ajoutCategorieForm.nomCat) }}
          <button type="submit" class="btn btn-primary ">Créer</button>
        </div>
      </div>
      {{ form_end(ajoutCategorieForm) }}
    </div>
    <!-- Fin formulaire ajout catégorie-->
  </div>
  <!-- Fin Taches  -->