{% extends 'base.html.twig' %}

{% block title %}Detail intervention{% endblock %}

{% block body %} 
<main class="container-fluid">
  <div class="row">
    <!-- Début de la colonne de gauche -->
    {% include 'partials/sidebar/sidebar.html.twig' %}
    <!-- Fin de la colonne de gauche -->
    
    <!-- Début de la colonne de droite -->
    <div class="col-lg-9 py-3 offset-lg-3">

      {% include "partials/info_dropdown.html.twig" %}
      <nav aria-label="breadcrumb" class="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Tableau de Bord</a></li>
          <li class="breadcrumb-item"><a href="/client">Client</a></li>
          <li class="breadcrumb-item active" aria-current="page">Intervention</li>
        </ol>
    </nav>
      <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>
      <span class="ms-2">Détail de l'intervention</span><span class="ms-2 roboto-bold">N°{{intervention.id}} </span>
      <div class="bg-white p-3 rounded-1 mt-2 mb-3">
        <div class="row d-flex justify-content-between mb-3">
  
          <div class="col-4 ">
            <span class="i_inter roboto-medium">Statut</span><br>
            <span>{{intervention.statut}}</span>
          </div>
          <div class="col-4 text-center">
            <span class="i_inter roboto-medium">Date de début</span><br>
            <span>{{intervention.dateDebut|date('Y-m-d')}}</span>
          </div>
          <div class="col-4 text-end">
            <span class="i_inter roboto-medium">Date de Fin</span><br>
            <span>{{intervention.dateFin|date('Y-m-d')}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="mb-3">
              <span class="i_inter roboto-medium">Description</span><br>
              <span>{{intervention.Description}}</span>
            </div>
            <div>
              <span class="i_inter roboto-medium">Note intervention</span><br>
              <span>{{intervention.note}}</span>
            </div>
          </div>
          <div class="col-md-7">
            <p class="p-1 titre_document text-center mt-2">Documents</p>
            <div class="row ps-1">
              <div class="col-6 d-flex flex-column">
                <strong>devis</strong>
                <div class="m-1 p-3 rounded-1 document_zone">
                  {% if deviInter|length == 0 %}
                    {{form_errors(uploadDeviForm)}}
                    {{form_start(uploadDeviForm)}}
                    <button type="submit" class="btn btn-primary">Ajouter un devis</button>
                    {{form_end(uploadDeviForm)}}
                  {% else %}  
                    {% for devi in deviInter %}
                    <a href="{{ vich_uploader_asset(devi, 'deviFile') }}" target="_blank" class="text-decoration-none">Voir le devis</a>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="col-6 d-flex flex-column">
                <strong>factures</strong>
                <div class="m-1 p-3 rounded-1 document_zone">
                  {% if factureInter|length == 0 %}
                    {{form_errors(uploadFactureForm)}}
                    {{form_start(uploadFactureForm)}}
                    <button type="submit" class="btn btn-primary">Ajouter un devis</button>
                    {{form_end(uploadFactureForm)}}
                  {% else %}  
                    {% for facture in factureInter %}
                    <a href="{{ vich_uploader_asset(facture, 'factureFile') }}" target="_blank" class="text-decoration-none">Voir la facture</a>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--DEBUT Section PHOTO ou TÂCHES-->

      {% if (show == 'photos') %}
         {% include "partials/sectionPhotos.html.twig" %}
      {% else %}
         {% include "partials/sectionTaches.html.twig" %}
      {% endif %}  
      <!-- FIN Section PHOTOS ou TÂCHES -->
    </div>
    
    <!-- Fin de la colonne de droite -->
  </div>
  <div class="modal fade" id="modalModification" tabindex="-1" aria-labelledby="modalModificationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          Ma modal est la
        </div>
    </div>
  </div>
 </main> 
  
  {% endblock %}
  