{% extends "base.html.twig" %}
{% block title %} {{titrePage}} {% endblock %}

{% block body %}  
<main class="container-fluid">
    <div class="row">  
        {% include "partials/sidebar/sidebar.html.twig" %}
        <div class="col-lg-10 py-3 offset-lg-2">
            <!-- FIN section infos -->
            <div class="bg-white py-3 mb-4 rounded-2">
                <div class="row mx-auto d-flex justify-content-between">
                  <div class="col-2 text-center d-flex align-items-center"><span class="roboto-bold pe-1">Nom: </span>{{ client.nom}}</div>
                  <div class="col-2 text-center d-flex align-items-center"><span class="roboto-bold pe-1">Prénom: </span>{{ client.prenom }}</div>
                  <div class="col-3 text-center d-flex align-items-center"><span class="roboto-bold pe-1">Email: </span>{{ client.mail }}</div>
                  <div class="col-2 text-center d-flex align-items-center"><span class="roboto-bold pe-1">Numéro: </span> {{ client.telephone }} </div>
                  <div class="col-2 justify-content-end d-flex align-items-center"><a href="/client{{client.id}}" class="btn btn-secondary">Client</a></div>  
                </div>
            </div>

            <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>
              <div class="d-flex">
                {% include "partials/form/interForm.html.twig" %}
              </div>
            
        </div>
    </div>
      
</main>        
{% endblock %} 
{% block javascripts %}
  <script src="{{ asset('js/nouvelleIntervention.js') }}" defer></script>
{% endblock %}