<div class="d-none col-lg-2 d-lg-flex flex-column flex-shrink-0 p-3 bg-white position-fixed top-0 border-end border-secondary" style=" height:100vh">
      <span class="fs-4">Navigation</span>
      <img src="{{ asset('assets/images/LogoBTHsansfond-06.png')}}" alt="">
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{path('main')}}" class="nav-link active" aria-current="page">
          <i class="fa-solid fa-house pe-2"></i>
          Tableau de bord
        </a>
      </li>
      <li>
        <a data-bs-toggle="modal" class="nav-link text-black" data-bs-target="#modalCalendar">
          <i class="fa-solid fa-calendar fa-lg pe-2"></i>
          Calendrier
        </a>
      </li>
      <li>
        <a href="{{path('ajout_client')}}" class="nav-link text-black">
          <i class="fa-solid fa-user-plus fa-lg pe-2"></i>
          Ajouter un client
        </a>
      </li>
      <li>
        <a href="{{ path('liste_interventions') }}" class="nav-link text-black">
          <i class="fa-solid fa-magnifying-glass fa-lg pe-2"></i>
          Mes interventions
        </a>
      </li>
      <li>
        <a href="{{ path('liste_clients') }}" class="nav-link text-black">
          <i class="fa-solid fa-magnifying-glass fa-lg pe-2"></i>
          Mes clients
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        {{ email }}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
</div>