<div class="d-none col-md-2 d-md-flex flex-column flex-shrink-0 p-3 bg-white position-fixed top-0 border-end border-secondary" style=" height:100vh">
    <div class="mx-auto">
      <img src="/media/photos/iconeBTH4.png" alt="" style="height: 50px; width: 50px";>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="mx-md-auto mx-lg-0">
          <a href="{{path('main')}}" class="nav-link active" id="tableauDeBord" aria-current="page">
            <i class="fa-solid fa-house pe-2"></i>
            <span class="d-none d-lg-inline">Tableau de bord</span>
          </a>
      </li>
      <hr>
      <li class="mx-md-auto mx-lg-0">
        <a href="{{ path('liste_interventions') }}" id="mesInter" class="nav-link text-black">
          <i class="fa-solid fa-building fa-lg pe-2"></i>
          <span class="d-none d-lg-inline">Mes interventions</span>
        </a>
      </li>
      <hr>
      <li class="mx-md-auto mx-lg-0">
        <a href="{{ path('liste_clients') }}" id="mesClients" class="nav-link text-black">
          <i class="fa-solid fa-user fa-lg pe-2"></i>
          <span class="d-none d-lg-inline">Mes clients</span>
        </a>
      </li>
      <hr>
      <li class="mx-md-auto mx-lg-0">
        <a href="{{path('ajout_client')}}"  id="ajoutClient" class="nav-link text-black">
          <i class="fa-solid fa-user-plus fa-lg pe-2"></i>
          <span class="d-none d-lg-inline">Ajouter un client</span>
        </a>
      </li>
      <hr>
      <li class="mx-md-auto mx-lg-0">
        <a data-bs-toggle="modal" id="monAgenda" class="nav-link text-black" data-bs-target="#modalCalendar">
          <i class="fa-solid fa-calendar fa-lg pe-2"></i>
          <span class="d-none d-lg-inline">Mon Agenda</span>
        </a>
      </li>
      <hr>
    </ul>
    <hr>
    <div class="dropdown mx-auto">
      <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/media/photos/iconeBTH4.png" alt="" width="32" height="32" class="rounded-circle me-2">
        {{ email }}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se deconnecter</a></li>
      </ul>
    </div>
</div>