{% extends 'base.html.twig' %}

{% block title %}Détail client{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <!-- Début de la colonne de gauche -->
        {% include 'partials/sidebar/sidebar.html.twig' %}
        <!-- Fin de la colonne de gauche -->
        
        <!-- Début de la colonne de droite -->
        <div class="col-lg-10 py-3 offset-lg-2">
            <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="col-6">
                    <span class="ms-2">Détail du client </span>
                    <span class="ms-2 roboto-bold">N°{{ client.id }}</span>
                </div>
                <div class="col-sm-6 col-md-3 text-end dropdown" id="profileConnect">
                  <span class=" dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-gear text-end "></i>
                  </span>
                  <ul class="dropdown-menu text-center">
                  <li><a class="dropdown-item roboto-regular " href="{{ path('modifier_client', {'id': client.id } ) }}">Modifier</a></li>
                  <li><a class="dropdown-item roboto-regular text-danger " href="{{ path('supprimer_client', {'id': client.id }) }}">Supprimer</a></li>
                  </ul>
                </div>
              </div>
            {% include 'partials/info_dropdown.html.twig' %} 
            {% include 'partials/inter_client.html.twig' %}

            <a href="{{ path('app_nouvIntervention', {'idClient': client.id}) }}">
                <div class="nouvelleIntervention text-center my-3 py-2 rounded-2">
                   <i class="fa-solid fa-plus"></i><br>
                    Nouvelle intervention
                </div>
            </a>    
        </div>
    </div>            
</main>
{% endblock %}
