{% extends 'base.html.twig' %}

{% block title %}Détail client{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <!-- Début de la colonne de gauche -->
        {% include 'partials/sidebar/sidebar.html.twig' %}
        <!-- Fin de la colonne de gauche -->
        
        <!-- Début de la colonne de droite -->
        <div class="col-md-10 py-3 offset-md-2 mb-5">
            <h1 class="text-center fs-4 roboto-medium">{{ titrePage }}</h1>
            <div class="d-flex justify-content-between align-items-center">
                <div class="col-6">
                    <span class="ms-2">Détail du client </span>
                    <span class="ms-2 roboto-bold">N°{{ client.id }}</span>
                </div>
              </div>
            <!-- section modification -->
                    <div class="bg-white py-1 my-2 mb-4 rounded-2 col-lg-none">
                        <p class="text-center">Informations client</p>
                        <div class="row">
                            <div class="col-6 text-center">
                                <span><strong>Nom</strong></span>
                                <span>{{client.nom}}</span>
                            </div>
                            <div class="col-6 text-center">
                                <span><strong>Prénom</strong></span>
                                <span>{{client.prenom}}</span>
                            </div>
                        </div>
                        <!-- Coordonnées --> 

                        <div class="p-4 rounded-2 m-2 border border-warning text-center" id="info_client_drop">
                            <p class="text-center roboto-bold fs-5">Coordonnées</p>
                            {{ form_errors(formModifierClient) }}
                            {{ form_start(formModifierClient) }}
                            <div class="row d-flex justify-content-center">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <span class="roboto-medium">Téléphone</span><br>
                                        <span >{{ form_row(formModifierClient.telephone)}}</span>
                                    </div>
                                    <div>
                                        <span class="roboto-medium">Email</span><br>
                                        <span>{{ form_row(formModifierClient.mail)}}</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <span class="roboto-medium">Adresse</span><br>
                                        <span>{{form_row(formModifierClient.rueClient)}}</span><br>
                                        <div class="row">
                                            <div class="col-4">
                                                <span class="roboto-medium">Zip</span><br>
                                                <span>{{form_row(formModifierClient.zipClient)}}</span><br>
                                            </div>
                                            <div class="col-8">
                                                <span class="roboto-medium">Ville</span><br>
                                                <span>{{form_row(formModifierClient.villeClient)}}</span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <input class="btn btn-secondary" type="button" onClick="history.back()" value="Annuler">
                            <input class="btn btn-success" type="submit" value="Valider">
                            {{ form_end(formModifierClient) }}
                        </div>
                    </div>
                <!-- fin section modification -->    
                
                <a href="{{ path('app_nouvIntervention', {'idClient': client.id}) }}">
                    <div class="nouvelleIntervention text-center my-5 py-2 rounded-2">
                        <i class="fa-solid fa-plus"></i><br>
                        Nouvelle intervention
                        </div>
                        </a>    
                    {% include 'partials/inter_client.html.twig' %}
        </div>
    </div>            
</main>
{% endblock %}
