<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}App BTH Plomberie{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <!-- Feuilles de styles --> 
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}


        <!-- Début des fichiers js-->
        <script src="{{ asset('js/scripts.js') }}" defer></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="https://kit.fontawesome.com/7c195b2a60.js" crossorigin="anonymous"></script>
        <!-- Fin des fichiers js-->

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %} 
        {% block body %}
        <h1>Hiii guys !!</h1>
        {% endblock %}
    </body>
</html>
