<div class="row d-flex justify-content-between mb-3">
    <!-- Debut adresse intervention -->
    <div class="col-6">
    <span class="i_inter roboto-medium">Adresse d'intervention</span><br>
    {{ form_start(interventionForm) }}
        <div>
            <select name="choixAdresse" id="choixAdresse">
                <option value="adresseClient">Adresse du client</option>
                <option value="autreClient">Autre adresse</option>
            </select>
        </div>
    </div>
    <!-- Fin adresse intervention -->
    <div class="col-6">
        <div class="row">
            <div class="col-sm-6 text-center">
                {{ form_row(interventionForm.dateDebut) }}
            </div>
            <div class="col-sm-6 text-center">
                {{ form_row(interventionForm.dateFin) }}
            </div>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="mb-3">
         {{ form_row(interventionForm.description) }}
        </div>
        <div class="mb-3">
           {{ form_row(interventionForm.note) }}
        </div>
        <div class="mb-3">
            {{ form_row(interventionForm.statut) }}
        </div>
        <button type="submit">valider</button>
    </div>   
</div>
    {{ form_end(interventionForm) }}
