
<div class="row d-flex justify-content-between mb-3">
    <!-- Debut adresse intervention -->
    <div class="col-6">
    <span class="i_inter roboto-medium">Adresse d'intervention</span><br>
    <div>
        <select name="choixAdresse" id="choixAdresse">
        <option value="adresseClient">Adresse du client</option>
        <option value="autreClient">Autre adresse</option>
        </select>
    </div>
    </div>
    <!-- Fin adresse intervention -->
    <div class="col-6">
    <div class="row">
        <div class="col-sm-6 text-center">
            {{ form_row(formInter.dateDebut) }}
        </div>
        <div class="col-sm-6 text-center">
            {{ form_row(formInter.dateFin) }}
        </div>  
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="mb-3">
            {{ form_row(formInter.description) }}
        </div>
        <div class="mb-3">
            {{ form_row(formInter.note) }}
        </div>
        <div class="mb-3">
            {{ form_row(formInter.statut) }}
        </div>
    </div>

</div>
