<div class="row d-flex justify-content-between mb-3">
    <!-- Debut adresse intervention -->
    <div class="col-6">
    <span class="i_inter roboto-medium">Adresse d'intervention</span><br>
    {{ form_start(interventionForm) }}
        <div>
            <select name="choixAdresse" id="choixAdresse">
                <option value="adresseClient">Adresse du client</option>
                <option value="autreClient">Autre adresse</option>
            </select>
        </div>
    </div>
    <!-- Fin adresse intervention -->
    <div class="col-6">
        <div class="row">
            <div class="col-sm-6 text-center">
                {{ form_row(interventionForm.dateDebut) }}
            </div>
            <div class="col-sm-6 text-center">
                {{ form_row(interventionForm.dateFin) }}
            </div>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="mb-3">
         {{ form_row(interventionForm.description) }}
        </div>
        <div class="mb-3">
           {{ form_row(interventionForm.note) }}
        </div>
        <div class="mb-3">
            {{ form_row(interventionForm.statut) }}
        </div>
        <button class="btn btn-success" type="submit">valider</button>
    </div> 
    <div class="text-center col-md-7 bg-secondary bg-opacity-25 p-3 rounded-1 ">
        <span>Saisir l'adresse d'intervention</span>
        <div class="row col-8 my-3">
            <div>
                {{ form_row(interventionForm.rueInter) }}
            </div>
            <div class="col-6">
                {{ form_row(interventionForm.zipInter) }}
            </div>
            <div class="col-6">
                {{ form_row(interventionForm.villeInter) }}
            </div>
        </div>    
    </div>  
</div>
    {{ form_end(interventionForm) }}
